// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
// ion-content::part(background) {
//   background: linear-gradient(77deg, #0f2027, #203a43, #2c5364);
// }
// ion-content {
//   background: linear-gradient(57deg, #0f2027, #203a43, #2c5364);
// }
