:host ::ng-deep .role-box {
  display: inline-block;
  width: 100%;
  padding: 6px 0;
}

:host ::ng-deep .role-animate {
  animation: popGlow 0.6s ease-in-out;
  background: rgba(34, 197, 94, 0.15);
  border-radius: 6px;
}

@keyframes popGlow {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  40% {
    transform: scale(1.08);
    box-shadow: 0 0 14px rgba(34, 197, 94, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
